PORT=8080
ANIVEXA_PORT=4001
SDK_PORT=3001
KUHI_PORT=8001
API_VERSION=2.1.0
CORS_ORIGIN=*
RATE_LIMIT=120
RATE_WINDOW_MS=60000
STARTUP_TIMEOUT_MS=30000
TRUST_PROXY=false
# PYTHON_BIN=python3
UPSTREAM_TIMEOUT_MS=30000
DISCOVERY_TIMEOUT_MS=10000
EXTRACTION_TIMEOUT_MS=25000
STREAM_VALIDATION_TIMEOUT_MS=7000
HLS_VALIDATION_TIMEOUT_MS=5000
TOTAL_REQUEST_DEADLINE_MS=60000
MAX_VALIDATION_CANDIDATES=6
METADATA_TIMEOUT_MS=10000
METADATA_EPISODES_TIMEOUT_MS=30000
METADATA_CACHE_TTL_MS=300000
